{% extends 'base.html' %}

{% block content %}
<!-- ★ポイント6 -->
<form action="/edit_user" method="post" enctype="multipart/form-data">
    <input type="hidden" value="{{user_info['id']}}" name="user_id">
    名前：<input type="text" name="name" value="{{user_info['name']}}"><br>
    パスワード：<input type="password" name="password" value="{{user_info['password']}}"><br>
    プロフィール画像：<input type="file" name="img_file" value="{{user_info['img_file']}}"><br>
    <input type="submit" value="送信">
</form>
{% endblock %}